@using Models;
@using System.ComponentModel.DataAnnotations
<table class="table table-striped">
    <tr>
        @foreach (Year year in DateTime.UtcNow.ToYear().Decade)
        {
            <tr>
                <th>@year.Number</th>
                @foreach (Month month in year.Months)
                {
                    if(month.Ordinal == 1)
                    {
                        <th>@year.Number</th>
                    }
                    <th>@($"{this.MonthNames[month.Ordinal]}")</th>
                }

            </tr>
        }


    </tr>
</table>


    @code {
    [Parameter] public DateTime ForTimeStamp {get;set;}

    string[] MonthNames = new[]
    {
        "", "JAN", "FRB", "MAR", "APR", "MAY", "JUN",
        "JUL", "AUG", "SEP", "OCT", "NOV", "DEC"
    };
}